/node_modules
/public/hot
/public/uploads
/public/storage
/storage
/storage/*.key
.idea/modules.xml
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.idea
/app/.DS_Store
/app/Http/.DS_Store
/app/Http/Controllers/.DS_Store
/database/.DS_Store